table {
    direction: rtl;
    text-align: center;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.form-group {
    margin-bottom: 1rem;
    display: contents;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input,
button {
    width: 100%;
    padding: 0.25rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    margin-bottom: 1rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.mt-2 {
    margin-top: 0.1rem;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.filters>input {
    margin: 5px;
}